


/* Differentiate the cover page from the TOC and the document body. */
.cover-page-container {
  prince-page-group: start;
  page: cover_page;
  counter-reset: page 0;
}

/* Style the cover page.
Assert that the cover page size and orientation is never changed. */
@page cover_page {
  size: A4 portrait; /* Changing this property requires you to adjust padding for children elements. Please, see the comments below. */
  margin: 0px;
  padding: 0px;
}

/* Make the cover-page-container (h1) fills up the whole cover page.
NOTE: You may need to adjust the padding property for cover page size and orientation different than A4 portrait. */
.cover-page-container {
  display: block;
  clear: both;
  padding: 0px 0px 1002px 0px;
}

/* Apply the typography settings to the cover page. */
.cover-page-container * {
  font-family: Arial, Times;
}

/* Define the space where the title can be placed.
NOTE: You may need to adjust the padding, height, and margin properties for cover page size and orientation different than A4 portrait. */
.cover-page-content {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0mm 15mm 0mm 15mm;
  margin-bottom: 25%; /* Should match the margin-top property in the .title-text selector. */
  height: 923px; /* Should match the height property in the .title-text selector. */
}

/* Style the cover page title. 
NOTE: You may need to adjust the height property for cover page size and orientation different than A4 portrait. */
.title-text {
  display: block;
  clear: both;
  color: black;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 20pt;
  line-height: normal;
  /* height: 200px; Should match the height property in the .cover-page-content selector. */
  /* margin-top: 25%; Should match the margin-bottom property in the .cover-page-content selector. */
  word-wrap: normal; /* Should you need to wrap long words, set to break-word */
  letter-spacing: 0.025em;;
  margin: 50px 0 0 0;
}

.topic-meta{
  display: block;
  clear: both;
  color: black;
  text-align: center;
  padding: 40px 0 40px 0;
  margin: 50px 0 0 0;
}

.customer-meta{
  display: block;
  clear: both;
  color: black;
  font-style: normal;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin: 50px 0 0 0;
}

.meta-company-address,
.meta-company-address * {
    font-weight: normal;
}


.meta-value{
    text-transform: uppercase;
    line-height: 50px;
    font-style: normal;
    font-size: 24pt;
    font-weight: bold; 
}

.meta-version{
    margin-top: 50px;
    font-size: 14pt;
    line-height: normal;
}


/* Style the bottom area of the cover. */
.top-stripe {
  position: absolute;
  top: 0px;
  display: block;
  clear: both;
  background-color: #fff;
  height: 200px;
  width: 100%;
  margin: 0mm 0mm 0mm -15mm;
  padding: 0mm 15mm 0mm 15mm;
}

.text-stripe {
  position: absolute;
  top: 70mm;
  display: block;
  clear: both;
  background-color: #fff;
  width: 100%;

}

.customer-stripe{
  position: absolute;
  top: 160mm;
  display: block;
  clear: both;
  background-color: #fff;
  width: 100%;
}


/* Define the space where a logo can be placed. 
NOTE: You may need to adjust the padding, margin, bottom, right, height, and width properties for a cover page size and orientation different than A4 portrait. */
.logo-container {
  display: block;
  clear: both;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 25mm;
  left: 25mm;
  height: 200px;
  width: 200px;
}

/* Define where the actual logo is placed in the <div class="logo-container"> */
.logo {
  display: block;
  float: left;
  max-width: 150px;
}