@page toc:left{
    @top-right{
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
    }
    @top-left{
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "ORGENTEC Diagnostika";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        border-top: 1px gray;
    }
    @bottom-right {
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "CONFIDENTIAL\A Page " counter(page) " of " counter(pages);
        letter-spacing: 0.025em;
        white-space: pre-wrap;
        border-top: 1px gray;
    }
}

@page toc:right{
    @top-right{
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
    }
    @top-left{
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "ORGENTEC Diagnostika";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        border-top: 1px gray;
    }
    @bottom-right {
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "CONFIDENTIAL\A Page " counter(page) " of " counter(pages);
        letter-spacing: 0.025em;
        white-space: pre-wrap;
        border-top: 1px gray;
    }
}

/* BODY */
@page:left{
    @top-right{
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
    }
    @top-left{
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "ORGENTEC Diagnostika";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        border-top: 1px gray;
    }
    @bottom-right {
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "CONFIDENTIAL\A Page " counter(page) " of " counter(pages);
        letter-spacing: 0.025em;
        white-space: pre-wrap;
        border-top: 1px gray;
    }
}

@page:right{
    @top-right{
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
    }
    @top-left{
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "ORGENTEC Diagnostika";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        border-top: 1px gray;
    }
    @bottom-right {
        font-size: 8pt;
        border: none;
        background-color:white;
        font-style: normal;
        font-weight: normal;        
        color: #575756;
        content: "CONFIDENTIAL\A Page " counter(page) " of " counter(pages);
        letter-spacing: 0.025em;
        white-space: pre-wrap;
        border-top: 1px gray;
    }
}
