/* Style inline cross-references. */
.xref,
.link {
  color: #00f;
  text-decoration: underline;
}

article a[href*="table"] {
    content: "" !important;
}

article a[href*="table"]::before {
    content: " Table " target-counter(attr(href), table) !important;
}