/* Set section margins. */
.section {
  margin: 0px 0px 0px 0px !important; /* The !important property is needed to make it work in SSG. */
}
.sectiontitle {
  font-size: 11pt;
  /*  color: #333 !important;*/
  font-weight: bold;
}

/* Reduce margins before sections after remedy titles. */
.remedy > .title ~ section {
  margin-top: 0px;
}

/* Add paragraph-like margins to sections that do not start with paragraphs. */
.sectiontitle ~ span {
  margin-top: 0px;
  display: inline-block;
}
