.tableA tbody > tr > td:nth-child(1) {
  background-color: #D5DCE4 !important;
  color: #555;
  font-weight: bold;
}

/* Ensure that tables and choicetables span across the whole space available. */
table {
  /* width: 100%; 100% shows a vertical scrollbar on sites. */
  margin: 5px 0px 5px 0px;
  table-layout: auto;
}

/* Remove the table and choicetable borders completely. */
table,
table * {
  border-collapse: collapse;
  border: none !important; /* needed to overwrite the default site styling. */
  text-align: left;
  vertical-align: top;
}

/* Add a top-border for tables that do not contain thead elements. */
table {
    border: 1px solid #999 !important;
  border-top: 1px solid #999 !important; /* The important property seems to be needed to overwrite the default SSG styling */
  border-bottom: 1px solid #999 !important; /* The important property seems to be needed to overwrite the default SSG styling */
}
table:has(thead) {
  border-top: none;
}

/* Set padding for table entries. */
td {
  padding: 10px;
}

/* Style the table and choicetable headers. 
Assert the same styling in table and choicetable headers and their children elements. */
tr,
th,
th * {
  /*font-weight: bold !important;  The important property seems to be needed to overwrite the default PDF Gen and SSG styling */
  /*color: black !important;*/ /* The important property seems to be needed to overwrite the default PDF Gen and SSG styling */
  color: #555 !important;
  /*background-color: #e3c03e !important;*/
  background-color: #D5DCE4 !important;
  /*padding: 5px;*/
  letter-spacing: 0.5px;
  vertical-align: top;
}
th,
th *,
th > .fn::footnote-call {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

/* Style uneven table and choicetable rows. */
tr:nth-child(odd) > td {
  background-color: #fff;
  vertical-align: top;
  border: 1px solid #999 !important;
}

/* Style even table and choicetable rows. */
tr > td {
background-color: #fff;
vertical-align: top;
border: 1px solid #999 !important;
}
